<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pagina ion-padding">
  <div class="sobre-container">
    <ion-icon name="rocket-outline" class="icone"></ion-icon>
    <h2>AI ToDo</h2>
    <p class="descricao">
      Um aplicativo inteligente de organização de tarefas pessoais, que usa
      inteligência artificial para sugerir, organizar e analisar suas actividades
      diárias.
    </p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Tecnologias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="logo-angular" slot="start"></ion-icon>
            <ion-label>✔️ Angular + Ionic Framework</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="cloud-outline" slot="start"></ion-icon>
            <ion-label>✔️ Firebase (Auth, Firestore)</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="sparkles-outline" slot="start"></ion-icon>
            <ion-label>✔️ IA com Gemini</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div class="info-final">
      <p>Versão 1.0.0</p>
      <p>
        Desenvolvido por: Adilson Gourgel | Eliseu Chimbaia | Manuel Chibia |
        Stélvio Kamona
      </p>
    </div>
  </div>
</ion-content>
