<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bem-vindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pagina ion-padding">
  <div class="container">
    <ion-icon name="bulb-outline" class="icone"></ion-icon>
    <h1>AI ToDo</h1>
    <p>
      Organize suas tarefas com inteligência artificial. Nosso app ajuda você a
      priorizar, analisar e automatizar sua rotina!
    </p>

    <ion-button
      expand="block"
      shape="round"
      color="secondary"
      (click)="irParaLogin()"
    >
      Entrar
    </ion-button>
  </div>
</ion-content>
