:root {
  --ion-color-primary: #00bcd4;
  --ion-color-primary-rgb: 0, 188, 212;

  --ion-color-secondary: #90caf9;
  --ion-color-secondary-rgb: 144, 202, 249;

  --ion-color-tertiary: #7c4dff;
  --ion-color-tertiary-rgb: 124, 77, 255;

  --ion-background-color: #121212;
  --ion-text-color: #e0e0e0;
  --ion-item-background: #1e1e1e;
  --ion-toolbar-background: #1f1f1f;
  --ion-card-background: #1f1f1f;

  --ion-color-success: #81c784;
  --ion-color-danger: #e57373;
  --ion-color-medium: #9e9e9e;
}
